.git
.github
.vscode
.idea
node_modules
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.env
.env.local
.env.production
.phpunit.result.cache
npm-debug.log
composer.phar
public/storage
